.storage_column {
    background-color: var(--grey-15);
    padding: 5px;
    margin: 2px;
}

.storage_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 31px;
    font-size: 0.9em;
}
    .storage_row:not(:last-child) {
        border-bottom: 1px dashed var(--grey-40);
    }

    .storage_row:first-child {
        border-bottom: 1px solid var(--grey-40);
        min-height: 27px;
    }

    

.storage_text {
    padding: 2px 5px;
    text-align:center;
}

.storage_column .storage_text_name {
    width: calc((100% - 255px) * 25 / 60);
}

.storage_column .storage_text_damage {
    width: calc((100% - 255px) * 20 / 60);
}

.storage_column .storage_text_comparison {
    width: calc((100% - 255px) * 15 / 60);
}

.storage_btn {
    width: 21px;
    align-content: center;
    position: relative;
}

    .storage_btn .prompt {
        width:auto;
        min-width:100px;
    }

        .storage_btn .prompt .prompt_header_text {
            text-align: center;
        }

    .storage_party {
        height: 26px;
        width: 26px;
        margin: 2px;
    }

.storage_party_img {
    height: 26px;
    width: 26px;
}

.storage_party_container {
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.storage_party_container .img_svg {
    height: 22px;
    margin-right: 4px;
}

    .storage_party {
        box-shadow: 0 0 1px 1px var(--grey-50);
        background-color: var(--grey-50);
    }

    .storage_party.pyro {
        box-shadow: 0 0 1px 1px var(--pyro);
        background-color: var(--pyro);
    }

    .storage_party.hydro {
        box-shadow: 0 0 1px 1px var(--hydro);
        background-color: var(--hydro);
    }

    .storage_party.anemo {
        box-shadow: 0 0 1px 1px var(--anemo);
        background-color: var(--anemo);
    }

    .storage_party.geo {
        box-shadow: 0 0 1px 1px var(--geo);
        background-color: var(--geo);
    }

    .storage_party.electro {
        box-shadow: 0 0 1px 1px var(--electro);
        background-color: var(--electro);
    }

    .storage_party.dendro {
        box-shadow: 0 0 1px 1px var(--dendro);
        background-color: var(--dendro);
    }

    .storage_party.cryo {
        box-shadow: 0 0 1px 1px var(--cryo);
        background-color: var(--cryo);
    }

.container_storage_pin {
    position: fixed;
    margin-top: 0px;
    top: 0px;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-15);
    padding: 5px;
    width:400px;
    border: 1px solid var(--grey-40);
    z-index: 20;
}

    .container_storage_pin .storage_text {
        width:calc(100% / 3);
    }
