.storage_column {
    background-color: var(--grey-15);
    padding: 5px;
    margin: 2px;
}

.storage_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 31px;
    font-size: 0.9rem;
    position:relative;
}
    .storage_row:not(:last-child) {
        border-bottom: 1px dashed var(--grey-40);
    }

    .storage_row:first-child {
        border-bottom: 1px solid var(--grey-40);
        min-height: 27px;
    }

    

.storage_text {
    padding: 2px 5px;
    text-align:center;
}

.storage_text_detail {
    font-size:0.8rem;
    opacity: 0.6;
}

.storage_column .storage_text_name {
    width: calc((100% - 215px) * 25 / 60);
    overflow: hidden;
    text-overflow: ellipsis;
}

.storage_column .storage_text_damage {
    width: calc((100% - 215px) * 20 / 60);
    overflow: hidden;
    text-overflow: ellipsis;
}

.storage_column .storage_text_comparison {
    width: calc((100% - 215px) * 15 / 60);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.frame_skills_party_detail .storage_column .storage_text_name {
    width: calc((100% - 365px) * 15 / 60);
}

.frame_skills_party_detail .storage_column .storage_text_damage {
    width: 140px;
}
.frame_skills_party_detail .storage_column .storage_text_comparison {
    width: 100px;
}

.storage_btn {
    width: 21px;
    align-content: center;
}
    .storage_btn .prompt .prompt_header_text {
        text-align: center;
    }

.storage_party {
    height: 16px;
    width: 16px;
    margin: 2px;
}

.storage_party_img {
    height: 16px;
    width: 16px;
}

.frame_skills_party_detail .storage_party_img {
    height: 24px;
    width: 24px;
}

.frame_skills_party_detail .storage_party {
    height: 24px;
    width: 24px;
}

.storage_party_container {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1084px) {
    .storage_party_detail_container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1084px) {
    .storage_party_detail_container {
        grid-template-columns: auto auto auto auto;
    }
}

.storage_party_detail_container {
    display: grid;
    width: auto;
}


.frame_skills_party_detail .storage_column .storage_party_container {
    width: calc((100% - 365px) * 45 / 60);
}

.frame_skills_party_detail .container_storage_pin .storage_party_container {
    width: calc(100% - 280px);
}

.storage_party_detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .storage_party_detail .char_storage_equip {
        width:auto;
    }

    .storage_party_detail .storage_text {
        flex:1;
    }

    .storage_party_container .img_svg {
        height: 22px;
        margin-right: 4px;
    }

.storage_party_icon_container {
    display:flex;
    flex-direction:row;
}

.storage_party_level {
    position: absolute;
    right: 1px;
    bottom: -1px;
    font-size: 0.8rem;
    text-shadow: 1px 1px 0px var(--black), 1px -1px 0px var(--black), -1px 1px 0px var(--black), -1px -1px 0px var(--black);
}

.storage_party {
    box-shadow: 0 0 1px 1px var(--grey-50);
    background-color: var(--grey-50);
    position:relative;
    cursor:help;
}

    .storage_party.pyro {
        box-shadow: 0 0 1px 1px var(--pyro);
        background-color: var(--pyro);
    }

    .storage_party.hydro {
        box-shadow: 0 0 1px 1px var(--hydro);
        background-color: var(--hydro);
    }

    .storage_party.anemo {
        box-shadow: 0 0 1px 1px var(--anemo);
        background-color: var(--anemo);
    }

    .storage_party.geo {
        box-shadow: 0 0 1px 1px var(--geo);
        background-color: var(--geo);
    }

    .storage_party.electro {
        box-shadow: 0 0 1px 1px var(--electro);
        background-color: var(--electro);
    }

    .storage_party.dendro {
        box-shadow: 0 0 1px 1px var(--dendro);
        background-color: var(--dendro);
    }

    .storage_party.cryo {
        box-shadow: 0 0 1px 1px var(--cryo);
        background-color: var(--cryo);
    }

    .storage_party .tooltip_hover {
        width:auto;
    }

.container_storage_pin {
    position: fixed;
    margin-top: 0px;
    top: 0px;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-15);
    padding: 5px;
    width: 400px;
    border: 1px solid var(--grey-40);
    z-index: 20;
}

.frame_skills_party_detail .container_storage_pin {
    max-width: 1300px;
    width:94%;
}

    .container_storage_pin .storage_text {
        width: 134px;
    }

    .frame_skills_party_detail .container_storage_pin .storage_party_detail .storage_text {
        width: initial;
    }

    .share_storage_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .share_storage_row:not(:first-child) .share_party_container {
        border-top: 1px dashed var(--grey-40);
    }

.share_party_container {
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
    column-gap: 5px;
    padding: 2px 5px;
    width:100%;
}

@media only screen and (max-width: 1550px) and (min-width: 846px) {
    .share_party_container {
        grid-template-columns: 1fr 1fr auto;
    }

        .share_party_container > div:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }

        .share_party_container > div:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        .share_party_container > div:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }

        .share_party_container > div:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }

        .share_party_container > div:nth-child(5) {
            grid-column: 3;
            grid-row: 1;
        }

        .share_party_container > div:nth-child(6) {
            grid-column: 3;
            grid-row: 2;
        }
}

@media only screen and (max-width: 846px) {
    .share_party_container {
        grid-template-columns: 1fr 1fr;
    }

        .share_party_container > div:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }

        .share_party_container > div:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        .share_party_container > div:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }

        .share_party_container > div:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }

        .share_party_container > div:nth-child(5) {
            grid-column: 1;
            grid-row: 3;
        }

        .share_party_container > div:nth-child(6) {
            grid-column: 2;
            grid-row: 3;
        }
}

.share_party_character {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

    .share_party_character .img_svg {
        height: 22px;
        margin-right: 4px;
    }

    .share_party_character .char_storage_equip {
        margin-left:10px;
    }

.share_party_character_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.share_party_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 42px;
}

.share_party_btn .img_button {
    height: 21px;
}

.share_party_link {
    width:110px;
}

